@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 2px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
}

.titulo {
    color: #A52A2A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.propaganda {
    text-align: center;
}

body {
    background-image: url("imagem_de_fundo.avif");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.informacoes_adicionais {
    display: flex;
    padding: 10px 30px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.beneficios,
.vitaminas,
.conservacao {
    border: 2px solid #800000;
    border-radius: 30px;
    width: 250px;
    height: 430px;
    padding: 10px 30px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.ingredientes_da_massa,
.ingredientes_do_recheio,
.modo_de_preparo_massa,
.modo_de_preparo_recheio {
    padding: 55px
}

.rodape {
    text-align: center
}